click==4.0
cligj==0.1.0
decorator==3.4.2
descartes==1.0.1
Fiona==1.5.1
matplotlib==1.4.3
mock==1.0.1
networkx==1.9.1
nose==1.3.6
numpy==1.9.2
pyparsing==2.0.3
pyproj==1.9.4
python-dateutil==2.4.2
pytz==2015.2
scipy==0.15.1
Shapely==1.5.8
six==1.9.0
marble==1.0
